body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensure the body is at least the height of the viewport */
    background-image: url('clk.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.title {
    text-align: top;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adding shadow for better visibility */
    margin-top: 20px;
}

.stopwatch {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.controls button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #4CAF50;
    color: #fff;
    border: none;
}

.controls button:hover {
    background-color: #45a049;
}

#display {
    font-size: 32px;
    margin-bottom: 10px;
}

#laps {
    list-style-type: none;
    padding: 0;
    text-align: left;
    margin-top: 10px;
}

#laps li {
    margin-bottom: 5px;
}
